<%content_for :title do%>
	Fale Conosco!
<%end%>

<%content_for :head do%>
	<%=stylesheet_link_tag "rating"%>
	<%=javascript_include_tag "rating"%>
	
<%end%>

<%content_for :breadcrumb do%>
	<div id='header-bread'>
      	<p><%=link_to "home", home_index_path%> </p>
      	<h1>Fale Conosco <b></b></h1>
      </div>
      <div id='header-title'>
      	<h1>Fale Conosco</h1>
      </div>
<%end%>


<div id="Box_content">
        <br /><br />
        <div class="Text_box">       	
        	<p class="Content" style="text-align:left; font-size:12px;">
        		Tire suas dúvidas e nos envie sugestões através dos canais de atendimento:<br />
				<br />
				<a style="font-size:18px;" href="mailto:contato@licell.com.br">contato@licell.com.br</a><br />
				<a style="font-size:18px;" href="mailto:sac@licell.com.br">vendas@licell.com.br</a>
				<br />
				<br />
				<br />
				<!-- LiveZilla Chat Button Link Code (ALWAYS PLACE IN BODY ELEMENT) --><a href="javascript:void(window.open('http://chat.licell.com.br/chat.php','','width=590,height=610,left=0,top=0,resizable=yes,menubar=no,location=no,status=yes,scrollbars=yes'))"><img src="http://chat.licell.com.br/image.php?id=01&amp;type=inlay" width="120" height="30" border="0" alt="LiveZilla Live Help"></a><!-- http://www.LiveZilla.net Chat Button Link Code --><!-- LiveZilla Tracking Code (ALWAYS PLACE IN BODY ELEMENT) --><div id="livezilla_tracking" style="display:none"></div><script type="text/javascript">
				var script = document.createElement("script");script.type="text/javascript";var src = "http://chat.licell.com.br/server.php?request=track&output=jcrpt&nse="+Math.random();setTimeout("script.src=src;document.getElementById('livezilla_tracking').appendChild(script)",1);</script><noscript><img src="http://chat.licell.com.br/server.php?request=track&amp;output=nojcrpt" width="0" height="0" style="visibility:hidden;" alt=""></noscript><!-- http://www.LiveZilla.net Tracking Code -->
        	</p>
            <br />
		</div>
</div>
