<%content_for :title do%>
	Fale Conosco!
<%end%>

<%content_for :head do%>
	<%=stylesheet_link_tag "rating"%>
	<%=javascript_include_tag "rating"%>
	
<%end%>
<div id="Content_products">

<div id="Products">
        <p class="Bread_crumb"><%=link_to "home", root_path%></p>
        <h1 style=" vertical-align:middle; text-align:left;">Fale Conosco!</h1>
        <img src="/images/img_tit_line.png" width="700" height="3" style="margin-bottom:10px; margin-left:-4px; margin-top:10px;" />
        <div class="Text_box">
        	
        	<p class="Content" style="text-align:left; font-size:12px;">
        		Tire suas dúvidas e nos envie sugestões através dos canais de atendimento:<br>
				<br>
				Loja 1:<br/>
				<a style="font-size:18px;" href="mailto:contato@licell.com.br">contato@licell.com.br</a><br>
				<br>
				SAC:<br/>
				<a style="font-size:18px;" href="mailto:sac@licell.com.br">sac@licell.com.br</a><br>
				<br>
        	</p>
            <br />
        </div>
</div>

