<html>
<head>
<title>Licell - Conta Ativada!</title>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
</head>
<body bgcolor="#FFFFFF" leftmargin="0" topmargin="0" marginwidth="0" marginheight="0">
<p>Bem-vindo ao nosso sistema!</p><br />
<p>Sua conta foi ativada, <%=link_to "clique aqui", root_url %> para acessa-la.</p><br />
<p>Em caso de problemas ao clicar no link, copie e cole esta url em seu navegador <%= root_url %></p><br />
<p>Caso o problema persista, entre em contato com nosso suporte.</p><br /><br />
<p>Equipe Licell.</p><br />
</body>
</html>