<%content_for :title do%>
	Política de Privacidade
<%end%>

<%content_for :head do%>
	<%=stylesheet_link_tag "rating"%>
	<%=javascript_include_tag "rating"%>
	
<%end%>
<div id="Box_content">
        <h1 style=" vertical-align:middle; text-align:left;">Política de Privacidade</h1>
        <br /><br />
        <div class="Text_box">       	
        	<p class="Content" style="text-align:left; font-size:12px;">
        		A Licell se compromete a manter a sua privacidade durante toda a navegação em nosso sistema.<br />
				<br />
				Todas as informações cadastrais são de uso exclusivo da Licell.<br />
				<br />
        	</p>
            <br />
		</div>
</div>
