<%content_for :title do%>
	Termos de Uso
<%end%>

<%content_for :head do%>
	<%=stylesheet_link_tag "rating"%>
	<%=javascript_include_tag "rating"%>
	
<%end%>
<div id="Box_content">
        <h1 style=" vertical-align:middle; text-align:left;">Termos de Uso</h1>
        <br /><br />
        <div class="Text_box">       	
        	<p class="Content" style="text-align:left; font-size:12px;">
        		Todo o conteúdo deste site pertence à Licell e está protegido pelas leis de copyright. O uso das informações, tais como imagens, textos exclusivos, entre outros conteúdos, é terminantemente proibido e havendo transgressão desta regra, o responsável deverá responder judicialmente.<br />
				<br />
				As informações referentes aos produtos não são destinadas ao uso alternativo, por essa razão a consulta a profissionais especializados que possam orientar o usuário é indispensável.<br>
				<br />
        	</p>
            <br />
		</div>
</div>
