body{
	overflow-x:hidden;
	}



@font-face {
    font-family: 'Felix';
    src: url('../fonts/felixti.eot');
    src: url('../fonts/felixti.eot?#iefix') format('embedded-opentype'),
         url('../fonts/felixti.woff') format('woff'),
         url('../fonts/felixti.ttf') format('truetype'),
         url('../fonts/felixti.svg#ebrima') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Ebrima';
    src: url('../fonts/ebrimabd.eot');
    src: url('../fonts/ebrimabd.eot?#iefix') format('embedded-opentype'),
         url('../fonts/ebrimabd.woff') format('woff'),
         url('../fonts/ebrimabd.ttf') format('truetype'),
         url('../fonts/ebrimabd.svg#ebrima') format('svg');
    font-weight: normal;
    font-style: normal;
}


#top-bar{
	position:relative;
	top:0px;
	left:0px;
	width:100%;
	height:45px;
	background-image:url('../images/bg_top.png');
	background-position:top center;
	background-repeat:no-repeat;
	z-index:1100;
	}

#itens-top-bar{
	position:relative;
	width:960px;
	padding-top:5px;
	margin:0 auto;
	text-align:right;
	}

.top-bar{
	margin-left:15px;
	}
	.Bt_top_1
	{
		position:relative;
		left:0px;
		top:-1px;
	}
	#botao
	{
		cursor:pointer;
	}
	.Bt_top_2
	{
		position:relative;
		left:0px;
		top:0px;
		margin-left:15px;
	}
	.Bt_top_3
	{
		position:relative;
		left:0px;
		top:-4px;
		margin-left:15px;
	}
	.Bt_top_3_out
	{
		position:relative;
		left:0px;
		top:-4px;
		margin-left:15px;
	}
	.Header_date
	{
		position:absolute;
		top:9px;
		left:0px;
		font-family:Verdana, Geneva, sans-serif;
		font-size:13px;
		color:#fff;
	}
#header{
	position:relative;
	top:-10px;
	left:0px;
	background-image:url('../images/bg_logo.jpg');
	background-position: 0px -1px;
	background-repeat:no-repeat;
	width:100%;
	height:207px;
	z-index:1000;
	}

#header-content{
	position:relative;
	width:960px;
	margin:0 auto;
	}

#header-logo{
position:relative;
	width:960px;
	float:left;
	margin-top:30px;
	margin-left:-50px;
	}
/*  inicio header busca  */
#header-busca{
	position:absolute;
	right:0px;
	top:76px;
	}

.ipt_busca{
	border:1px solid transparent;
	background-color:transparent;
	width:412px;
	height:29px;
	background-image:url('../images/bg_busca.png');
	background-position:top center;
	background-repeat:no-repeat;
	font-family: Ebrima;
	font-size:20px;
	color:#bfbfbf;
	padding:10px;
	margin-right:10px;
	}

.drop_busca{
	position /*\**/: relative \9 !important;
	top: -0px \9;
	top /*\**/: 13px \9;
	
	position:relative;
	width:204px;
	height:49px;
	font-family: Tahoma;
	font-size:20px;
	color:#bfbfbf;
	margin-right:10px;
	}	
	
@media all and (min-width:0) {
    .drop_busca { top:0px \0/; }  /* IE9-IE10pp4 */
}	
}	
/*  fim header busca  */	
#header-nav{
	float:left;
	margin-top:15px;
	*margin-top:-4px;
	}
.nav a{
	font-family: Tahoma;
	font-size:15px;
	color:#fff;
	font-weight:600;
	text-decoration:none;
	text-transform:uppercase!important;
} 
.nav{
	text-align:center;
	padding-top:14px;
	height:26px;
	width:106px;
	float:left;
	color:#fff;
	font-weight:600;
	text-decoration:none;
	}

.nav:hover{
	background-color:#0095d3;
	}

.nav-bg{
	background-image:url('../images/hover_menu_trans.png');
	background-position:top center;
	background-repeat:repeat;
	}

#slider{
	position:relative;
	background-image:url('../images/bg_destaques.jpg');
	background-position:top center;
	background-repeat:no-repeat;
	width:100%;
	height:296px;
	z-index:1000;
	}

#slider-container{
	position:relative;
	width:960px;
	margin:0 auto;
	text-align:center;
	}

#nav{
	position:absolute;
	float:right;
	right:10px;
	margin-top:300px;
	margin-right:20px;
	}

#nav a{
	text-decoration:none;
	background-image:url('../images/bt_slider_off.png');
	background-position:top center;
	background-repeat:no-repeat;
	width:30px;
	height:30px;
	float:left;
	color:transparent;
	}
	
#nav a.activeSlide{
	background-image:url('../images/bt_slider_on.png');
	background-position:top center;
	background-repeat:no-repeat;
	width:30px;
	height:30px;
	}
	
#nav a:focus{
	background-image:url('../images/bt_slider_on.png');
	background-position:top center;
	background-repeat:no-repeat;
	width:30px;
	height:30px;
	}

#content{
	position:relative;
	background-image:url('../images/bg_body.jpg');
	background-position:top center;
	background-repeat:no-repeat;
	width:100%;
	z-index:1000;
	top:60px;
	}

#content-itens{
	width:960px;
	margin:0 auto;
	padding:5px;
	}

.produto{
	position:relative;
	float:left;
	width:240px;
	height:325px;
	}

.produto:hover #prod-top{
	background-color:#008cc7;
	}

.prod-top{
	position:absolute;
	width:225px;
	height:42px;
	background-color:#00b4ff;
	padding:5px;
	}

.prod-top h3{
	color:#FFFFFF;
	font-family:Felix;
	font-size:15px;
	}

.prod-top p{
	font-family:Arial, Helvetica, sans-serif;
	color:#FFFFFF;
	font-size:11px;
	}

.prod-img{
	position:absolute;
	top:42px;
	background-image:url('../images/bg_img_prod.jpg');
	background-position:top center;
	width:235px;
	height:228px;
	text-align:center;
	}

.prod-img img{
	margin-top:15px;
	}

.prod-fot{
	position:absolute;
	top:270px;
	width:235px;
	height:44px;
	background-color:#d7d7d7;
	border-top:2px solid #ff5c1b;
	}

.prod-val{
	float:right;
	margin-right:20px;
	}

.prod-val h2{
	font-family:Arial, Helvetica, sans-serif;
	color:#000;
	font-size:20px;
	margin-top:12px;
	}

.prod-val b{
	font-family: Tahoma, Helvetica, sans-serif;
	color: #FF5C1B;
	font-size: 21px;
	font-weight: normal !important;
	
	}

.prod-add{
	float:right;
	}

.prod-des{
	position:absolute;
	top:314px;
	width:225px;
	background-color:#fff;
	padding:5px;
	}

.prod-des p{
	font-family:Arial, Helvetica, sans-serif;
	color:#000;
	font-size:15px;
	}

.content-footer{
	position:relative;
	width:960px !important;
	margin:0 auto;
	margin-top:60px !important;
	}
.content-footer h4{
	color:#ff5c1b;
	font-family:Felix;
	font-size:15px;
	margin-top:10px;
	margin-bottom:5px;
	}

.content-footer p{
	font-family:Arial, Helvetica, sans-serif;
	color:#b2b2b2;
	font-size:15px;
	margin-bottom:10px;
	
	}

#footer{
	position:relative;
	background-image:url('../images/bg_bandeiras.png');
	background-position:center top !important;
	background-repeat:no-repeat;
	width:100%;
	height:100px;
	display:block;
	}

#footer-itens{
	width:960px;
	padding-top:60px;
	margin:0 auto;
	text-align:right;
	font-family:Arial, Helvetica, sans-serif;
	color:#b2b2b2;
	font-size:15px;
	}

#footer-itens a{
	font-family:Arial, Helvetica, sans-serif;
	color:#b2b2b2;
	font-size:15px;
	margin-top:50px;
	text-decoration:none;
	}

#tagcloud a
{
font-family:Arial, Helvetica, sans-serif;
color:#b2b2b2;
text-decoration:none !important;
}
#tagcloud a:hover
{
	text-decoration:underline !important;
}
a.Tag_medium
{
font-size:14px;		
}
a.Tag_big
{
font-size:16px;		
}
a.Tag_biger
{
font-size:18px;								
}
a.Tag_giant
{
font-size:22px;							
}
a.Tag_bold
{
font-weight:500;							
}
a.Tag_underline
{
text-decoration:underline;							
}
