body{
	overflow-x:hidden;
	}



@font-face {
    font-family: 'Felix';
    src: url('../fonts/felixti.eot');
    src: url('../fonts/felixti.eot?#iefix') format('embedded-opentype'),
         url('../fonts/felixti.woff') format('woff'),
         url('../fonts/felixti.ttf') format('truetype'),
         url('../fonts/felixti.svg#ebrima') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Ebrima';
    src: url('../fonts/ebrimabd.eot');
    src: url('../fonts/ebrimabd.eot?#iefix') format('embedded-opentype'),
         url('../fonts/ebrimabd.woff') format('woff'),
         url('../fonts/ebrimabd.ttf') format('truetype'),
         url('../fonts/ebrimabd.svg#ebrima') format('svg');
    font-weight: normal;
    font-style: normal;
}


#top-bar{
	position:relative;
	top:0px;
	left:0px;
	width:100%;
	height:45px;
	background-image:url('../images/bg_top.png');
	background-position:top center;
	background-repeat:no-repeat;
	z-index:1100;
	}

#itens-top-bar{
	width:960px;
	padding-top:5px;
	margin:0 auto;
	text-align:right;
	}

.top-bar{
	margin-left:15px;
	}
	.Bt_top_1
	{
		position:relative;
		left:0px;
		top:-1px;
	}
	#botao
	{
		cursor:pointer;
	}
	.Bt_top_2
	{
		position:relative;
		left:0px;
		top:0px;
		margin-left:15px;
	}
	.Bt_top_3
	{
		position:relative;
		left:0px;
		top:-4px;
		margin-left:15px;
	}
	.Bt_top_3_out
	{
		position:relative;
		left:0px;
		top:-4px;
		margin-left:15px;
	}
	.Header_date
	{
		position:absolute;
		top:9px;
		left:0px;
		font-family:Verdana, Geneva, sans-serif;
		font-size:13px;
		color:#fff;
	}
#header{
	position:relative;
	top:-10px;
	left:0px;
	background-image:url('../images/bg_top_internas.jpg');
	background-position:top center;
	background-repeat:no-repeat;
	width:100%;
	height:376px;
	z-index:1000;
	}

#header-content{
	position:relative;
	width:980px;
	margin:0 auto;
	}

#header-logo{
	position:relative;
	width:960px;
	float:left;
	margin-top:15px;
	margin-left:-50px;
	}

#header-nav{
	position:relative;
	float:left;
	margin-top:13px;
	}
.nav a{
	font-family: Tahoma;
	font-size:15px;
	color:#727272;
	font-weight:600;
	text-decoration:none;
	text-transform:uppercase!important;
} 
.nav  {
	position:relative;
	text-align:center;
	padding-top:14px;
	height:26px;
	width:106px;
	float:left;
	}

.nav:hover{
	background-color:#e4f6fd;
	}

.nav-bg{
	background-color:#efefef;
	}

#header-bread{
	position: absolute;
	background-image: url('../images/bg_bread_crumb.png');
	background-position: top center;
	background-repeat: no-repeat;
	height: 58px;
	width: 245px;
	top: 320px;
	}

#header-bread p {
	font-family:Arial, Helvetica, sans-serif;
	color:#9f9f9f;
	font-size:15px;
	margin-left:10px;
	margin-top:3px;
	text-decoration:none;
	}
#header-bread a{
	font-family:Arial, Helvetica, sans-serif;
	color:#9f9f9f;
	font-size:15px;
	text-decoration:none;
	}
#header-bread h1 {
	font-family: Tahoma;
	font-size:18px;
	color:#b9b9b9;
	margin-left:10px;
	margin-top:10px;
	}

#header-bread h1 b {
	font-family: Tahoma;
	font-size:25px;
	color:#00b4ff;
	font-weight:normal !important;
	}
#header-bread h1 b a {

	font-family: Tahoma !important;
	font-size:19px !important;
	color:#00b4ff !important;
	}
#header-title h1 {
	position:relative;
	font-family: Felix;
	font-size:25px;
	color:#999;
	margin-top:150px;
	float:right;
	margin-right:20px;
	}
#header-title h1 a {
	font-family: Felix !important;
	font-size:25px !important;
	color:#999 !important;
	text-transform:uppercase!important;
	text-decoration:none;
	}
	
#header-busca{
	float:right;
	margin-top:60px;
	}
/*  inicio header busca  */
#header-busca{
	position:absolute;
	right:48px;
	top:16px;
	}

.ipt_busca{
	position:relative;
	border:1px solid transparent;
	background-color:transparent;
	width:412px;
	height:29px;
	background-image:url('../images/bg_busca.png');
	background-position:top center;
	background-repeat:no-repeat;
	font-family: Ebrima;
	font-size:20px;
	color:#bfbfbf;
	padding:10px;
	margin-right:10px;
	}

.drop_busca{
	position:relative;
	width:204px;
	height:49px;
	font-family: Ebrima;
	font-size:20px;
	color:#bfbfbf;
	margin-right:10px;
	}	
/*  fim header busca  */
.text_search_list
{
	font-family: Ebrima;
	font-size:20px;
	color:#9F9F9F;	
}
input
{
	font-family: Ebrima;
	font-size:20px;
	color:#727272;
}
select
{
	font-family: Ebrima;
	font-size:20px;
	color:#727272;
}

/*  inicio standard layout tela  */
#Box_content
{
	position:relative;
	width:960px;
	margin:0 auto;
}
	#Box_content h1
	{
		color:#00b4ff;
		font-size:25px;
		border:#f6f6f6 18px solid;
		background:#f6f6f6;
		margin-top:18px;
		margin-left:-9px;
	}
	#Box_content .Text_box
	{
		position:relative;
		margin-left:18px;
	}
	#Box_content .Text_box p
	{
		font-family:Ebrima;
		font-size:20px;
		color:#5c5c5c;
	}
/*  Final standard layout tela  */


#content{
	position:relative;
	top:-10px;
	background-image:url('../images/bg_body.jpg');
	background-position:top center;
	background-repeat:no-repeat;
	width:100%;
	z-index:1000;
	}

#content-itens{
	width:980px;
	margin:0 auto;
	}

#content-left{
	float:left;
	width:246px;
	}

#content-left ul li a{
	width: 246px;
	height: 37px;
	text-align: left;
	background: #F1F5F8;
	display: table-cell;
	vertical-align: middle;
	font-family: Tahoma;
	font-size: 17px;
	color: #484848;
	font-weight: 600;
	padding-left: 20px;
	}

#content-left ul li a{
	text-decoration:none;
	}

#content-left ul li a:hover{
	background:#d7f3ff !important;;
	}

.item-b a{
	background:#fff !important;
	}

.item-b a:hover {
	background:#d7f3ff!important;
	}

#content-right{
	float:right;
	width:734px;
	}

#prod-table h1{
	font-family:Arial, Helvetica, sans-serif;
	font-size:17px;
	color:#fff;
	margin:5px;
	}

#prod-table h6{
	font-family:Arial, Helvetica, sans-serif;
	font-size:17px;
	color:#00b4ff;
	margin:5px;
	}

#prod-table p{
	font-family:Arial, Helvetica, sans-serif;
	font-size:15px;
	color:#5c5c5c;
	margin:5px;
	}

.produto{
	position:relative;
	float:left;
	width:240px;
	height:325px;
	}

.produto:hover #prod-top{
	background-color:#008cc7;
	}

.prod-top{
	position:absolute;
	width:225px;
	height:42px;
	background-color:#00b4ff;
	padding:5px;
	}

.prod-top h3{
	color:#FFFFFF;
	font-family:Felix;
	font-size:15px;
	}

.prod-top p{
	font-family:Arial, Helvetica, sans-serif;
	color:#FFFFFF;
	font-size:11px;
	}

.prod-img{
	position:absolute;
	top:54px;
	background-image:url('../images/bg_img_prod.jpg');
	background-position:top center;
	width:235px;
	height:228px;
	text-align:center;
	}

.prod-img img{
	margin-top:15px;
	}

.prod-fot{
	position:absolute;
	top:270px;
	width:235px;
	height:44px;
	background-color:#d7d7d7;
	border-top:2px solid #ff5c1b;
	}

.prod-val{
	float:right;
	margin-right:20px;
	}

.prod-val h2{
	font-family:Arial, Helvetica, sans-serif;
	color:#000;
	font-size:20px;
	margin-top:12px;
	}

.prod-val b{
	font-family:Arial, Helvetica, sans-serif;
	color:#ff5c1b;
	font-size:15px;
	
	}

.prod-add{
	float:right;
	}

.prod-des{
	position:absolute;
	top:314px;
	width:225px;
	background-color:#fff;
	padding:5px;
	}

.prod-des p{
	font-family:Arial, Helvetica, sans-serif;
	color:#000;
	font-size:15px;
	}

	
#content-abas{
	margin-top:50px;
	margin-bottom:50px;
	}

#content-abas ul{
	list-style:none; 
	text-decoration:none;
	}

.abas{
	text-decoration:none;
	}

.abas li{
	width:150px; 
	height:32px;
	padding-top:16px;
	float:left; 
	margin-right:5px; 
	text-align:center; 
	font-family:Arial, Helvetica, sans-serif; 
	text-decoration:none; 
	background-color:#d3f2ff;
	}

.abas li:hover{
	text-decoration:none;
	}

.abas li a{
	text-decoration:none;
	font-size:15px;
	color:#8fa2aa; 
	}

.ativo{
	background-color:#00b4ff !important; 
	text-decoration:none;
	font-family:Arial, Helvetica, sans-serif; 
	text-decoration:none; 
	background-color:#d3f2ff;
	color:#fff !important; 
	}

.ativo a{
	text-decoration:none;
	color:#fff !important; 
	}

#noticia{
	position:relative; 
	width:734px; 
	height:auto; 
	padding:10px; 
	clear:both; 
	background-color:#ededed;
	}

#noticia h2{
	font-family:Arial, Helvetica, sans-serif;
	font-size:17px;
	color:#00b4ff;
	margin:5px;
	}

#noticia p{
	font-family:Arial, Helvetica, sans-serif;
	font-size:15px;
	color:#5c5c5c;
	margin:5px;
	}

#noticia div{display:none;}

.produto{
	position:relative;
	float:left;
	width:240px;
	height:325px;
	}

.produto:hover #prod-top{
	background-color:#008cc7;
	}

#prod-top{
	position:absolute;
	width:225px;
	height:42px;
	background-color:#00b4ff;
	padding:5px;
	}

#prod-top h3{
	color:#FFFFFF;
	font-family:Felix;
	font-size:18px;
	}

#prod-top p{
	font-family:Arial, Helvetica, sans-serif;
	color:#FFFFFF;
	font-size:15px;
	}

#prod-img{
	position:absolute;
	top:42px;
	background-image:url('../images/bg_img_prod.jpg');
	background-position:top center;
	width:235px;
	height:228px;
	text-align:center;
	}

#prod-img img{
	margin-top:15px;
	}

#prod-fot{
	position:absolute;
	top:270px;
	width:235px;
	height:44px;
	background-color:#d7d7d7;
	border-top:2px solid #ff5c1b;
	}

#prod-val{
	float:right;
	margin-right:20px;
	}

#prod-val h2{
	font-family:Arial, Helvetica, sans-serif;
	color:#000;
	font-size:20px;
	margin-top:12px;
	}

#prod-val b{
	font-family:Arial, Helvetica, sans-serif;
	color:#ff5c1b;
	font-size:15px;
	
	}

#prod-add{
	float:right;
	}

#prod-des{
	position:absolute;
	top:314px;
	width:225px;
	background-color:#fff;
	padding:5px;
	}

#prod-des p{
	font-family:Arial, Helvetica, sans-serif;
	color:#000;
	font-size:15px;
	}
	
.content-slider{
	width:965px;
	margin:0 auto;
	}

.content-footer{
	position:relative;
	width:960px !important;
	margin:0 auto;
	margin-top:60px !important;
	}

#bloco-recomendamos{
	width: 960px;
    left: 50%;
    margin-left: -480px;
    position: relative;
}

.content-footer h4{
	color:#ff5c1b;
	font-family:Felix;
	font-size:15px;
	margin-top:10px;
	margin-bottom:5px;
	}

#content-footer h5{
color:#00b4ff;
font-family:Arial, Helvetica, sans-serif;
font-size:25px;
margin-top:20px;
margin-bottom:20px;
}


.content-footer p{
	font-family:Arial, Helvetica, sans-serif;
	color:#b2b2b2;
	font-size:15px;
	margin-bottom:10px;
	}

#footer{
	position:relative;
	background-image:url('../images/bg_bandeiras.png');
	background-position:top center;
	background-repeat:no-repeat;
	width:100%;
	height:100px;
	display:block;
	}

#footer-itens{
	width:960px;
	padding-top:60px;
	margin:0 auto;
	text-align:right;
	font-family:Arial, Helvetica, sans-serif;
	color:#b2b2b2;
	font-size:15px;
	}

#footer-itens a{
	font-family:Arial, Helvetica, sans-serif;
	color:#b2b2b2;
	font-size:15px;
	margin-top:50px;
	text-decoration:none;
	}

#tagcloud a
{
	font-family:Arial, Helvetica, sans-serif;
	color:#b2b2b2;
	text-decoration:none !important;
}

#tagcloud a:hover
{
	text-decoration:underline !important;
}

a.Tag_medium
{
	font-size:14px;		
}
a.Tag_big
{
	font-size:16px;		
}
a.Tag_biger
{
	font-size:18px;								
}
a.Tag_giant
{
	font-size:22px;							
}
a.Tag_bold
{
	font-weight:500;							
}
a.Tag_underline
{
	text-decoration:underline;							
}

.twitter-share-button{
	margin-left:10px;
	}