/* CSS Document */

#tab_orders
{
	position:relative;
	width:960px;
	height:auto;
	text-align:left;	
}
.tab_orders_content
{
	width:960px;
	min-height:68px;
	height:auto;
	text-align:left;
}
#tab_orders_content_int table
{
	border:red 1px dashed;	
}
	#tab_orders .Tit_table
	{
		display:inline-block;
		*float:left;
		*display:block;
		width:960px;	
		height:50px;
	}
	#tab_orders .Cel_Cust
	{
		text-align:left !important;
	}
	
	.Table_tit_sumary	
	{
		text-align:left;
		padding-top:7px;
		padding-left:25px;
	}
	.Tit_text
	{
		text-align:left;
		padding-left:34px;
	}
	.Tit_text_cont
	{
		text-align:center;
		padding-left:27px;
		padding-top:7px;
	}	
	.Table_tit
	{
		position:relative;
		font-family:Verdana, Geneva, sans-serif;
		font-size:12px;
		color:#fff;
		vertical-align:midle;
		text-align:left;
		margin-left:25px;
	}	
	.Table_tit2
	{
		font-family:Verdana, Geneva, sans-serif;
		font-size:12px;
		color:#fff;
		vertical-align:midle;
		text-align:left;
		margin-left:25px;			
	}
	.Table_tit3
	{
		font-family:Verdana, Geneva, sans-serif;
		font-size:12px;
		color:#999999;
		text-align:left;
		margin-left:14px;
		padding-top:3px;			
	}	
	.Label_frete
	{
		vertical-align:middle;
		font-family:Verdana, Geneva, sans-serif;
		font-size:12px;
		color:#99BE0A;
		text-align:right;
		margin-right:36px;			
	}	
	.Down_content_end .Label_frete b
	{
		color:#666666;
		margin-left:16px;	
	}	
	.Label_total
	{
		vertical-align:middle;
		font-family:Verdana, Geneva, sans-serif;
		font-size:16px;
		color:#99BE0A;
		text-align:right;
		margin-right:20px;			
	}
	.Down_content_end .Label_total b
	{
		color:#666666;
		margin-left:16px;	
	}
	.Table_status
	{
		position:relative;
		font-family:Verdana, Geneva, sans-serif;
		font-size:12px;
		color:#fff;
	}	
		#Status	
		{
			position:relative;
			background-image:url(/images/bg_status.png);
			background-position:center 0px;
			background-repeat:no-repeat;
			position:relative;
			display:block;
			text-align:center;
			font-family:Verdana, Geneva, sans-serif;
			font-size:12px;
			color:#999999;
			padding-top:4px;
			top:-17px;
			left:23px;
			height:25px;
		}
	.Bg_table_line
	{
		background-image:url(/images/menu/bg_item_coment.png);
		background-position:top center;
		background-repeat:repeat-x;
		text-align:center;
		height:31px;
		padding-top:7px;
	}

	.Title_info
	{
		display:block;
		background-image:url(/images/bg_tab_mytabs_end.png);
		background-repeat:no-repeat;
		background-position:center top;
		height:19px;
		vertical-align:middle;
		text-align:left;
		margin:auto;
	}
	.Title_info table h2
	{
		text-align:left;
	}		
	.Title_table2
	{
		background-image:url(/images/menu/bg_item_coment.png);
		background-position:top center;
		background-repeat:repeat-x;		
		display:block;
		font-family:Verdana, Geneva, sans-serif;
		font-size:12px;
		font-weight:bold;
		color:#666666;
		text-align:center;
		width:940px;
		height:-10px;
		text-align:center !important;
		margin-top:1px;
		margin-bottom:1px;
		padding:10px 10px 10px 10px;
	}	
	.Content_table
	{
		display:block;
		font-family:Verdana, Geneva, sans-serif;
		font-size:12px;
		color:#666666;
		text-align:center;
		width:960px;
		height:25px;
		text-align:center;
		margin:auto;
		margin-top:1px;	
	}
	.Down_content_end
	{
		background-image:url(/images/bg_tab_mytabs_end.png);
		background-repeat:no-repeat;
		background-position:center top;		
		display:block;
		font-family:Verdana, Geneva, sans-serif;
		font-size:12px;
		color:#fff;
		width:960px;
		height:65px;
		text-align:left;
		margin:auto;
		margin-top:1px;	
	}	
	.Down_content_end table p
	{	
		display:block;
		font-family:Verdana, Geneva, sans-serif;
		font-size:12px;
		color:#666;	
		padding:3px 3px 3px 3px;
	}		
	.tab_orders_item
	{		
		display:block;
		font-family:Verdana, Geneva, sans-serif;
		font-size:12px;
		color:#fff;
		width:700px;
		height:26px;
		text-align:left;
		margin:auto;
		margin-top:1px;	
	}
	.Item_gray
	{
		background-image:url(/images/bg_tab_mytabs_down.png);
		background-repeat:no-repeat;
		background-position:left top;	
		display:block;
		font-family:Verdana, Geneva, sans-serif;
		font-size:12px;
		color:#fff;
		width:960px;
		height:26px;
		margin-top:1px;	
	}	
	.Item_orange
	{
		display:block;
		background-image:url(/images/bg_tab_mytabs.png);
		background-repeat:no-repeat;
		background-position:left top;
		width:960px;
		height:26px;
	}	
	.closed
	{
		display:none;
	}
	.open
	{
	}	
	.Down_content_table2
	{
		background-image:url(/images/bg_tab_mytabs_down2.png);
		background-repeat:no-repeat;
		background-position:center top;		
		display:block;
		font-family:Verdana, Geneva, sans-serif;
		font-size:12px;
		color:#fff;
		width:700px;
		height:26px;
		text-align:left;
		margin:auto;
		margin-top:1px;	
	}		
	.Down_content_table p
	{
		margin-left:15px;
		font-size:12px;
		font-family:Verdana, Geneva, sans-serif;
				
	}		
	#tab_orders input
	{
		width:216px;
		height:20px;
		text-align:right;
		float:right;
		color:#000;
	}	
	#tab_orders .Waiting_for
	{
		width:216px;
		height:20px;
		background-image:url(/images/bg_table_waitingfor.png);
		background-repeat:no-repeat;
		background-position:top left;
		text-align:right;
		color:#000;
	}
		
