
/* CSS Document */


/* Aba carrinho*/
#itens-top-bar
{
position:relative;
height:37px;
}
#Menu_Cart
{
	position:absolute !important;
	left:659px;
	top:31px;
	width:276px;
	z-index:2000 !important;
}
	#Menu_Cart #Menu
	{
		position:relative !important;
		left:0px;
		width:276px;
		height:auto;
		border:#8cddff 3px solid;
		background:white;
		z-index:2000 !important;
	}
		#Menu_Cart #Menu ul
		{
			background-image:url(../images/user_bars/bg_transp.png);
			background-repeat:repeat-y;
			background-position:top center;
			text-align:center;
			width:200px;
		}
			#Menu_Cart #Menu ul li
			{
				list-style:none;
				width:276px;
			}
			.Cart_item 
			{
				font-family:Felix;
				color:#00b4ff;
				font-size:12px;
				text-align:center;
				height:31px;
				background:#c1ecff;
				padding-top:15px
	
			}
			.Cart_item a
			{
				font-family:Felix;
				color:#00b4ff;
				font-size:12px;				
			}
			.Total_txt
			{
				height:17px;
				background:#8cddff;
				font-family:Felix !important;
				color:#6d6d6d !important;
				font-size:12px;
				width:270px !important;
				font-weight:normal;
				text-align:left;
				padding-left:6px;
				padding-top:3px;

			}
			.Total_val
			{
				height:27px;
				background:#c1ecff;
				color:#6d6d6d;
				font-size:20px;
				font-weight:normal;
				text-align:center;
				padding-top:9px;
			}
			.Btns_place
			{
				background:#8cddff;	
			}
			.Btn_fnz_cmp
			{
				position:relative;
				left:6px;
				top /*\*/: 2px \9;
				font-family:Felix;
				color:#6d6d6d;
				font-size:12px;							
			}
			.Btns_place a:hover
			{
				color:#d63d00;								
			}
			.Btn_cart
			{
				position:relative;
				left:-5px;
				top /*\*/: 2px \9;
				font-family:Felix;
				color:#6d6d6d;
				font-size:12px;				
			}
				#Menu_Cart #Menu ul li a
				{
					text-decoration:none;
					color:00b4ff;
				}
				#Menu_Cart #Menu ul li a:hover
				{
					color:00b4ff;
				}							
				#Menu_Cart #Menu ul li img
				{
					vertical-align:middle;
					margin-right:10px;
				}
				#Menu_Cart #Menu ul li h3
				{
					font-family:Tahoma, Geneva, sans-serif;
					font-size:12px;
					color:#00b4ff;
					font-weight:normal;
					
				}
				

