<%content_for :title do%>
	Bem Vindo!
<%end%>
<div id="Box_content">
        <br /><br />
        <div class="Text_box">
			<p> Nos proximos minutos você receberá um email com o link para ativar seu cadastro!</p><br /><br />
			<p> Em caso de duvidas entre em contato com o nosso suporte técnico!</p>	
		</div>
</div>