<%content_for :title do%>
	Prazos de Entrega
<%end%>

<%content_for :head do%>
	<%=stylesheet_link_tag "rating"%>
	<%=javascript_include_tag "rating"%>
	
<%end%>

<%content_for :breadcrumb do%>
	<div id='header-bread'>
      	<p><%=link_to "home", home_index_path%> </p>
      	<h1>Prazos de Entrega <b></b></h1>
      </div>
      <div id='header-title'>
      	<h1>Prazos de Entrega</h1>
      </div>
<%end%>


<div id="Box_content">
        <br /><br />
        <div class="Text_box">       	
        		<h2 class="Content">Prazos de Entrega</h2>
			<p class="Content" style="text-align:left; font-size:12px;">
        		Com o objetivo de garantir a comodidade e praticidade de todos os clientes, a Licell entrega seus produtos por meio dos Correios, pelos sistemas Sedex e PAC, em caso de urgência.<br>
				<br />
				Todos os pedidos são enviados mediante confirmação do pagamento. Os prazos de entrega podem variar de acordo com a região do País. Normalmente o prazo para a entrega não excede 10 dias. <br>
				<br />
        	</p>
				<br><br>
				<h2 class="Content">Política de Troca</h2>
			<p class="Content" style="text-align:left; font-size:12px;">
				Em caso de troca, todo e qualquer produto deverá ser encaminhado com frete pago para:<br>
				<br>
				Licell Componentes Eletrônicos  <br>
				Rua Nicolino Nacaratti, nº 511 - Centro - Bragança Paulista - SP - CEP: 12900-030 --- A/C Setor RMA.<br>
				A troca poderá ser feita nos casos abaixo: <br>
				<br>
				<br>
				<b>Troca por defeito</b><br>
				Neste caso, o produto passará por uma análise técnica para a verificação da existência de defeito de fabricação e prazo máximo de 90 (noventa) dias da data de compra.<br>
				<br>
				<br>
				<b>Troca por desistência</b><br>
				No caso de desistência, o produto em questão não pode ter qualquer indício de uso e deverá retornar em 7 (sete) dias da data do recebimento.<br>
				Em ambos os casos, a Licell só aceitará a troca quando, na devolução, o produto estiver com: <br>
				<br>
				<br>
				<b>Cód. de Cliente;</b><br>
				<b>Selo de garantia Parcell;</b><br>
				<b>Embalagem original, com todos os manuais;</b><br>
				<b>Nota Fiscal de Devolução Parcial.</b><br>
<br>
				A Licell se reserva o direito de não se responsabilizar por qualquer produto que tenha sido mal utilizado ou instalado.
				<br />
        	</p>
            <br />
		</div>
</div>
