<%content_for :title do%>
	Prazos de Entrega
<%end%>

<%content_for :head do%>
	<%=stylesheet_link_tag "rating"%>
	<%=javascript_include_tag "rating"%>
	
<%end%>
<div id="Box_content">
        <h1 style=" vertical-align:middle; text-align:left;">Prazos de Entrega</h1>
        <br /><br />
        <div class="Text_box">       	
        	<p class="Content" style="text-align:left; font-size:12px;">
        		Com o objetivo de garantir a comodidade e praticidade de todos os clientes, a Licell entrega seus produtos por meio dos Correios, pelos sistemas Sedex e PAC, em caso de urgência.<br>
				<br />
				Todos os pedidos são enviados mediante confirmação do pagamento. Os prazos de entrega podem variar de acordo com a região do País. Normalmente o prazo para a entrega não excede 10 dias. <br>
				<br />
        	</p>
            <br />
		</div>
</div>
