<h1>Bem-Vindo</h1>
<br />
<p>Esta área do site foi desenvolvida exclusivamente para o gerenciamento e controle do site Licell.</p>
<p>A utilização deste sistema tem como objetivo facilitar e melhorar o manuseio de informações. Para isso é de extrema importância que cada item seja respeitado.</p>
