<%content_for :title do%>
	Parabéns!
<%end%>

<%content_for :head do%>
	
<%end%>
<div id="Box_content">
        <h1 style=" vertical-align:middle; text-align:left;">Sua compra foi efetuada com sucesso!</h1>
        <br /><br />
        <div class="Text_box">       	
        	<p class="Content" style="text-align:left; font-size:12px;">
        		Sua compra foi efetuada com sucesso!<br>
	        	<br>
				Obrigado por utilizar nosso site para realizar sua compra. Aproveite e confira nossas prazos de entrega.<br>
				<br>
				<br>
				Envie suas dúvidas e/ou sugestões para nos e-mails:<br>
				<br>
				<a href="mailto:contato@licell.com.br">contato@licell.com.br</a><br>
				<a href="mailto:sac@licell.com.br">sac@licell.com.br</a><br>
				<br />
        	</p>
            <br />
		</div>
</div>
