        <label class="Text_tile">Olá <%=current_user.nome%>!<br/><br/><%= link_to "Clique aqui para continuar navegando.", root_path, :class=>"Text_tile" %></label><br /><br />
       	<% if (User.find(current_user).has_role? :admin) %>
			<%= link_to "Acesse o painel Administrativo.", "javascript:void(0);",:class=>"Text_tile", :onclick=>"window.parent.location.href='#{admin_root_path}'"%>
      	<% end %>



