    <div id='content-footer'>
            <h4>Ultimas buscas:</h4>
            <p>Lorem, ipsum, dolor, sit, amet, fames, est, leo, fusce, mauris ,sit, ipsum ,dolor, aliquam, nulla. Gravida, tincidunt, nulla, cras, fermentum, magnis, rutrum, integer, cras, blandit, erat, ipsum ,vestibulum, velit, Lorem, ipsum, dolor, sit, amet, fames, est, leo, fusce, mauris ,sit, ipsum ,dolor, aliquam, nulla. Gravida, tincidunt, nulla, cras, fermentum, magnis, rutrum, integer, cras, blandit, erat, ipsum ,vestibulum, velit.</p>
    </div>
</div>
<div id='footer'>
	<div id='footer-itens'>
    	<a href="#">Prazos de Entrega</a> | <a href="#">Política de Privacidade</a> | <a href="#">Termos de Uso</a> | <a href="#">Fale Conosco</a>
    </div>
</div>
